/***  Functions
************************************************/
/* styles overriding default front page styles */
#home-link {
  float: left; }

#siteheader {
  margin-bottom: 2em; }
  #siteheader .logo-bg {
    background-color: #149ecb;
    padding: 19px 10px; }
    #siteheader .logo-bg .container {
      width: 100%;
      max-width: 1170px;
      overflow: hidden;
      margin: 0 auto; }
    #siteheader .logo-bg #home-link {
      float: left; }
  #siteheader .actions {
    float: right;
    clear: left;
    line-height: 47px; }
    @media only screen and (min-width: 519px) {
      #siteheader .actions {
        float: right;
        clear: none;
        line-height: 57px; } }
    #siteheader .actions a {
      color: #FFFFFF;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer; }
    #siteheader .actions ul {
      display: inline-block;
      list-style-type: none;
      line-height: 1.5em;
      margin: 0;
      padding: 0 0 0 4px;
      vertical-align: bottom; }
      @media only screen and (min-width: 519px) {
        #siteheader .actions ul {
          margin: 0 0 0 1em;
          padding: 0 0 0 1.518em; } }
      #siteheader .actions ul li.icon {
        padding: 0 0 0 22px; }
      #siteheader .actions ul li.basket {
        background: transparent url(../img/muistilista4.png) no-repeat scroll; }

footer {
  clear: both; }
  @media only screen and (min-width: 759px) {
    footer .footer-item {
      width: 50%;
      text-align: center; } }
  @media only screen and (min-width: 959px) {
    footer .footer-item {
      width: 50%;
      text-align: center; } }

.sub-page .search {
  margin: 20px auto; }

header {
  box-shadow: none; }
  header ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #333333; }
  header :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #333333; }
  header ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #333333; }
  header :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #333333; }
  header .search {
    margin: 50px auto;
    max-width: 960px;
    background: none;
    padding: 0; }
    header .search .search-field {
      padding: 0 10px;
      margin: 0 1% 0 0;
      width: 80%;
      height: 48px;
      border: #FFFFFF 4px solid;
      outline: none;
      background: #FFFFFF none;
      -webkit-box-shadow: 0 1px 1px #bfbfbf inset, 0 -1px 4px rgba(0, 0, 0, 0.07) inset;
      -moz-box-shadow: 0 1px 1px #bfbfbf inset, 0 -1px 4px rgba(0, 0, 0, 0.07) inset;
      -o-box-shadow: 0 1px 1px #bfbfbf inset, 0 -1px 4px rgba(0, 0, 0, 0.07) inset;
      -ms-box-shadow: 0 1px 1px #bfbfbf inset, 0 -1px 4px rgba(0, 0, 0, 0.07) inset;
      box-shadow: 0 1px 1px #bfbfbf inset, 0 -1px 4px rgba(0, 0, 0, 0.07) inset;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
      header .search .search-field:focus {
        border: #fde7a5 4px solid; }
      @media only screen and (min-width: 519px) {
        header .search .search-field {
          width: 60%; } }
    header .search .search-container {
      max-width: none;
      text-align: left;
      padding: 10px 20px; }
      @media only screen and (min-width: 759px) {
        header .search .search-container {
          padding: 10px 20px; } }
      @media only screen and (min-width: 959px) {
        header .search .search-container {
          padding: 10px 0; } }
    header .search label {
      padding: 10px 1% 10px 0;
      margin: 0;
      width: 100%;
      display: inline-block; }
      @media only screen and (min-width: 759px) {
        header .search label {
          width: 21%; } }
      @media only screen and (min-width: 959px) {
        header .search label {
          width: 17%; } }
      header .search label.placeholder {
        background: none; }
      header .search label.h2 {
        color: #333333; }
    header .search .magnifier {
      background: none;
      border: 1px solid #dba000;
      font-size: 16px;
      color: #333333;
      padding: 0;
      width: auto;
      height: 40px;
      position: static;
      width: 10%;
      background-color: #fecf4c;
      background-color: rgba(254, 186, 0, 0.7);
      border-color: rgba(219, 160, 0, 0.7);
      border-width: 1px;
      border-style: solid;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 230, 162, 0.7);
      -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 230, 162, 0.7);
      -o-box-shadow: inset 0px 1px 1px 0px rgba(255, 230, 162, 0.7);
      -ms-box-shadow: inset 0px 1px 1px 0px rgba(255, 230, 162, 0.7);
      box-shadow: inset 0px 1px 1px 0px rgba(255, 230, 162, 0.7); }
      header .search .magnifier:hover {
        background: #fecf4a;
        background: -webkit-gradient(linear, left top, left bottom, from(#febb04), to(#fecf4a));
        background: -webkit-linear-gradient(top, #febb04, #fecf4a);
        background: -moz-linear-gradient(top, #febb04, #fecf4a);
        background: -ms-linear-gradient(top, #febb04, #fecf4a);
        background: -o-linear-gradient(top, #febb04, #fecf4a); }
      header .search .magnifier:active {
        -webkit-box-shadow: inset 0px 1px 1px 0px #bb8b07;
        -moz-box-shadow: inset 0px 1px 1px 0px #bb8b07;
        -o-box-shadow: inset 0px 1px 1px 0px #bb8b07;
        -ms-box-shadow: inset 0px 1px 1px 0px #bb8b07;
        box-shadow: inset 0px 1px 1px 0px #bb8b07; }
      header .search .magnifier span {
        background: transparent url("../img/suurennuslasi_icon_dark.png") scroll no-repeat;
        padding: 0 0 0 16px; }
        header .search .magnifier span span {
          background: none;
          padding: 0 0 0 8px;
          display: none; }
          @media only screen and (min-width: 519px) {
            header .search .magnifier span span {
              display: none; } }
          @media only screen and (min-width: 759px) {
            header .search .magnifier span span {
              display: inline; } }
          header .search .magnifier span span.h2 {
            color: #333333; }

.lt-ie9 header .search .search-field {
  background-color: #fff5da; }

article.main ul {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

.teaser .item-wrapper .item {
  color: #FFFFFF;
  padding: 0 10px; }
  @media only screen and (min-width: 519px) {
    .teaser .item-wrapper .item {
      width: 100%;
      float: none; } }
  @media only screen and (min-width: 759px) {
    .teaser .item-wrapper .item {
      width: 50%;
      float: left; } }
  @media only screen and (min-width: 959px) {
    .teaser .item-wrapper .item {
      width: 33.333%;
      float: left; } }
  .teaser .item-wrapper .item h2 {
    font-family: 'PT Sans Narrow', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase; }
  .teaser .item-wrapper .item ul {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    list-style-position: inside; }

.sub-page article img.content-image {
  max-width: 100%;
  width: 100%;
  padding: 10px;
  margin: 1em 0 2em 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc; }