/Oppija/nbproject/private/
/Oppija/testiOppija/nbproject/private/
/Oppija/.htaccess
/Virkailija/nbproject/

/Oppija/wp-content/uploads/
/Oppija/wp-content/uploads2/
/Oppija/wp-content/plugins/wp-mail-smtp
/Oppija/wp-content/plugins/wp-original-media-path/
/wp_361/

.project

plugins/
!Virkailija/wp-content/plugins/code-freeze/

/studyinfo/nbproject/private/
/opintopolku-boostrap/nbproject/private/