/*
CSS Name: Default Styles
Description: NextGEN Default Gallery Stylesheet
Author: Photocrati Media
Version: 2.12

This stylesheet is provided to allow users the ability of overriding the default styles for all display types
*/


.ngg-gallery-list li img {
    height: 35px;
    width: 60px;
}

.page article img {
    border: none;
}

.ngg-gallery-list li.selected a {
    background: none;
}

.ngg-gallery-list li a {
    border: none;
}

.pic {
    height: 353px;
    overflow: hidden;
}