# Don't add the Local server settings file to the repository #
wp-config.php
wp-content/uploads2

# sitemaps not needed locally #
sitemap.xml
sitemap.xml.gz
 

#Don't add Netbeans project files#
nbproject

# no need for these #
readme.html
license.txt
.log
.DS_Store

# Dont' add less to css yet... #
wp-content/themes/ophver3/less/style.css
wp-content/gallery/
