Options +FollowSymlinks
RewriteEngine on

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Oppija/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Oppija/index.php [L]
</IfModule>